body {
  text-align: center;
  font-family: sans-serif;
  background: #f0f0f0;
}

canvas {
  background-color: #222;
  display: block;
  margin: 0 auto;
  border: 2px solid #333;
}

#score {
  font-size: 20px;
  margin-top: 10px;
}
