body {
  font-family: sans-serif;
  text-align: center;
  background: #fdfdfd;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.hole {
  font-size: 32px;
  position: relative;
  cursor: pointer;
  line-height: 1;
}

.mole {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  display: none;
}

.mole.show {
  display: block;
}

#score {
  font-size: 20px;
  margin-top: 10px;
}
